---
layout: courses.html
---
<ul>
{% for take5 in collections.take5 | sort(false, false, 'data.topic') %}
  <li class="{{ take5.data.topic }}">
    <p>{{ take5.data.topic }}</p>
    <h2>{{ take5.data.title }}</h2>
  </li>
{% endfor %}
</ul>